body {
  background-color: rgb(23, 3, 72);
}

.navBar {
  padding: 40px;
  background-color: rgba(14, 131, 170, 0.787);
  font-size: 100%;
  align-content: center;
  text-align: center;
  /* border: 10px;
  border-color: black; */
}
.mainHeader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(243, 211, 245);
  text-decoration: underline;
  font-size: 150%
}

.sectionHeader {
  text-decoration: underline;
  color: rgb(243, 211, 245);
}

#confirmButton {
  background-color: grey;
}

#navBarLinks {
  color: rgb(243, 187, 234);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

#mainBody {
  color: white;
  font-family: serif;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 22;
  padding: 20px;
}
/* a {
  color: rgb(243, 187, 234)
} */